* {
    box-sizing: border-box;
    margin: 0;
}

section {
    height: 100vh;
    margin: 0;
}

/* 1st section */

/* header */
.first {
    display: flex;
    flex-direction: column;
    background-color: #122333;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
}

header h3 {
    font-weight: bold;
}

ul {
    display: flex;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0 10px;
}

/* content */

.first-content {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img-section {
    flex-shrink: 0;
    width: 600px;
    height: 300px;
    background-color: gray;
}

.description {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
}

.description h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
}

.description button {
    background-color: #3e8ed8;
    color: white;
    width: 130px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
}

/* 2nd section */

.second {
    padding: 5%;
    text-align: center;
}
.second h1{
    font-size: 35px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 60%;
}

.img-txt {
    width: 200px;
}

.images img {
    border: 2px solid #3e8ed8;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

/* 3rd section */

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25%;
    gap: 10px;
    background-color: #eee;
}

.quotes {
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
}

.name {
    align-self: flex-end;
    font-size: 25px;
    font-weight: bold;
}

/* last section */

.last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.upper {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3e8ed8;
    width: 800px;
    height: 200px;
    border-radius: 10px;
}

.check button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    flex-shrink: 0;
    width: 110px;
    height: 30px;
    font-size: 16px;
    color: white;
}

footer {
    background-color: #122333;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}